.homepage {
  section {
    padding: $space-lg 0;

    @include media-screen-small {
      padding: $space-md 0;
    }
  }

  .card-link-section:first-of-type h1 {
    @media screen and (min-width: 50rem) {
      font-size: $font-size-xxxl;
    }
  }

  a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -$space-md;

    @include media-screen-small {
      top: -$navbar-height;
    }
  }
}