.app-discovery-carousel {
  cursor: url('/images/icons/carousel-cursor.png'), auto;

  .slick-slide {
    margin-top: 0;
    max-width: 40rem;

    @media screen and (max-width: 48rem) {
      max-width: 30rem;
    }
  }
}

.app-discovery-carousel-item {
  background: white;
  display: inline-block;
  margin: 0 $space-md;

  &__inner {
    padding: $space-md;
  }

  .author-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;

    span {
      margin-top: 0;

      &.name {
        font-weight: bold;
      }
    }

    img {
      margin-top: 0;
      margin-left: $space-sm;
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }

  h1 {
    margin-top: $space-md;
    position: relative;
    padding-bottom: $space-md * 1.5;

    &:after {
      content: "";
      position: absolute;
      width: 10rem;
      bottom: 0;
      left: 0;
      border-top: 0.5rem solid black;
    }
  }

  a {
    display: inline-block;
    margin-top: $space-md * 1.5;
  }

  @include media-screen-small {
    margin: 0 $space-sm;

    &__inner {
      padding: $space-sm;
    }

    .author-container {
      display: none;
    }

    h1 {
      font-size: $font-size-xl;
    }
  }
}