
.app-discovery-carousel {
  overflow: visible;
  background-color: whitesmoke;
  padding-left: $space-sm * 3 !important;
  padding-top: $space-sm !important;

  cursor: url('/images/icons/clickdrag.svg'), n-resize;

  @include media-screen-small {
    padding-left: 0px !important;
  }

  h2 {
    font-weight: bolder !important;
  }

  .slick-list {
    padding-left: 0px !important;
    overflow: visible;
  }

  .slick-track {
    display: flex;

    .slick-slide {
      display: flex;
      height: auto;

      margin-top: 0;
      max-width: 40rem;

      @media screen and (max-width: 48rem) {
        max-width: 30rem;
      }

      >div {
        height: 100%;
      }
    }
  }
}

.app-discovery-carousel-item {
  background: white;
  display: inline-block;
  height: 100%;
  margin: 0 $space-lg 0 0;
  border-radius: 5px;
  border: 1px solid $color-black;

  -webkit-box-shadow: 8px 0px 0px #222326;
  -moz-box-shadow: 8px 8px 0px 0px #222326;
  box-shadow: 8px 8px 0px 0px #222326;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $space-md;
  }

  .author-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;

    span {
      margin-top: 0;

      &.name {
        font-weight: bold;
      }
    }

    img {
      margin-top: 0;
      margin-left: $space-sm;
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }

  h1 {
    margin-top: $space-md;
    position: relative;
    padding-bottom: $space-md * 1.5;

    &:after {
      content: "";
      position: absolute;
      width: 10rem;
      bottom: 0;
      left: 0;
      border-top: 0.5rem solid black;
    }
    @include media-screen-small {
      line-height: $font-size-xl * 1.5;
    }
  }

  p.action-container {
    display: inline-block;
    margin-top: auto;
    padding-top: $space-md;
  }

  a.btn {
    display: inline-block;
    min-width: 200px;
    transition: 0.3s;
    font-family: $font-family-mono;

    &:hover {
      background-color: whitesmoke;
      transition: 0.3s;
    }
  }

  @include media-screen-small {
    margin: 0 $space-md 0 0;

    &__inner {
      padding: $space-sm;
    }

    .author-container {
      display: none;
    }

    h1 {
      font-size: $font-size-xl;
    }
  }
}