.full-width-section {
  background: whitesmoke;

  width: 100vw;
  max-width: none;
  position: relative;
  left: 0px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  &__inner {
    padding: $space-md * 1.5;

    @include media-screen-small {
      padding: $space-md;
    }
  }

}

.full-width-section.images-grid-container {
  margin-top: $space-lg;
}

.full-width-section.no-horizontal-padding {
  .full-width-section__inner {
    padding-left: 0;
    padding-right: 0;
  }
}