.image-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: $space-xs;
  text-align: center;
  padding-left: $space-xl * 1.2;
  padding-right: $space-xl * 1.2;
  align-content: space-between;
  justify-content: center;

  @include media-screen-small {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    padding-left: $space-sm;
    padding-right: $space-sm;
  }

  div {
    margin: auto;
  }

  img {
    max-width: 100%;
    height: auto;
    padding-right: $space-sm;

    object-fit: contain;

    @include media-screen-small {
      max-width: 85%;
    }
  }
}