.md-content {
  padding-bottom: $space-xl;
  padding-left: $space-lg;
  padding-right: $space-lg;

  @include media-screen-small {
    padding-bottom: $space-sm;
    padding-left: 0px;
    padding-right: 0px;
  }

  a:link {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $color-blue;
  }

  a:hover {
    color: $color-lighter-blue;
  }

  a:visited {
    color: $color-blue;
  }

  a:active {
    color: $color-lighter-blue;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
  }
}

  hr {
    margin-top: $space-sm;
    border: 1px dashed $color-black;
  }

  p {
    max-width: none;
    margin-top: 0.4rem;
    padding-top: $space-md;
  }

  img[src*="#fullwidth"] {
    width: 100%;
    object-fit: cover;
  }

  img[src*="#thumbnail"] {
    max-width: 30rem;
    height: auto;
    object-fit: contain;
  }

  img[src*="#center"] {
    display: block;
    margin: 0 auto;
  }

  
