.md-content {
  padding-bottom: $space-md;

  a:link {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $color-blue;
  }

  a:hover {
    color: $color-lighter-blue;
  }

  a:visited {
    color: $color-blue;
  }

  a:active {
    color: $color-lighter-blue;
  }
  
  hr {
    margin-top: $space-sm;
    border: 1px dashed $color-black;
  }

  p {
    max-width: none;
    margin-top: 0.4rem;
  }

  img[src*="#fullwidth"] {
    width: 100%;
    object-fit: cover;
  }

  img[src*="#thumbnail"] {
    max-width: 30rem;
    height: auto;
    object-fit: contain;
  }

  img[src*="#center"] {
    display: block;
    margin: 0 auto;
  }
}