.blog {
  position: relative;

  &__header-bg {
    height: 6rem;
    width: 100vw;
    max-width: none;
    position: absolute;
    top: - $space-md;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    z-index: -1;
    background-color: $color-white-smoke;
    border-bottom: $color-black 1px dashed;
  }

  &__header {
    display: flex;

    h2 {
      font-weight: bold;
    }

    .my-select-input {
      margin: auto 0 auto $space-lg;
    }
  }

  &__post-grid {
    @include layout-grid($space-lg);

    margin-top: $space-lg;
    grid-template-columns: 1fr 1fr;

    @include media-screen-small {
      grid-template-columns: 1fr;
    }
  }
}