.blog-post {
  position: relative;

  &__header-bg {
    height: 6rem;
    width: 100vw;
    max-width: none;
    position: absolute;
    top: - $space-md;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    z-index: -1;
    background-color: $color-white-smoke;
    border-bottom: $color-black 1px dashed;
  }

  &__header {
    h2 {
      font-weight: bold;
    }
  }

  &__content {
    margin-top: $space-lg;

    p {
      max-width: none;
    }

  }
}

.blog-post__content-info {
  @include layout-switcher(60rem, $space-md);
  @include layout-switcher--sizes((60, 30));

  .author-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    line-height: 3rem;

    span {
      margin-top: 0;

      &.name {
        font-weight: bold;
      }
    }

    img {
      margin-top: 0.5rem;
      margin-left: $space-sm;
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }
}