footer {
  background: transparent;
  padding: $space-lg;
  padding-bottom: $space-sm !important;
  margin-top: 0;

  .footer__content {
    display: none;
  }

  .footer__content__mobile {
    display: inline;

    p {
      font-size: $font-size-sm;
    }
  }

  img {
    width: 70%;
  }

  @include media-screen-large {
    background: $color-dark-gray;
    padding: $space-lg $space-md;

    .footer__content {
      display: flex;
    }

    .footer__content__mobile {
      display: none;
    }
  }
}

.footer__inner {
  max-width: $page-container-width;
  margin-left: auto;
  margin-right: auto;

  hr {
    margin-top: $space-sm;
    width: 80%;
    margin-left: 0px;
    border: 0.4px solid whitesmoke;
  }
}

.footer__content__mobile {
  p {
    text-align: center;
    color: $color-gray;
  }
}

.footer__content__company {
  padding-top: $space-lg;
  text-align: justify;

  p {
    text-align: center;
    color: $color-gray;
    font-size: $font-size-sm;
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
  }

  hr {
    border-bottom: 0.4px solid $color-gray;
    width: 80%;
    height: 1px;
    margin-left: 10%;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  color: $color-super-light-gray;

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer__section {
      margin-top: 0;

      .links {
        display: flex;
        flex-direction: column;
      }
    }

    .space {
      margin: 0 $space-md;

      @include media-screen-small {
        margin-left: $space-sm;
      }
    }

    .space_more {
      padding-top: 10px;
    }
  }

  a {
    text-decoration: none;
    color: $color-super-light-gray;
    line-height: 0.2rem;
    font-size: $font-size-sm;
    transition: 0.3s;

    &:hover {
      color: $color-gray;
      cursor: pointer;
      transition: 0.3s;
    }

    div {
      display: flex;
      align-items: center;
    }

    span {
      margin-top: 0;
      margin-left: $space-sm;
    }
  }
}