.tokens.complete {
  h1 {
    font-size: $font-size-xxl;
  }

  p {
    margin-top: $space-md;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    a {
      margin-top: 0;
      margin-left: $space-md;
    }
  }
}

.btn {
  transition: 0.3s;
  text-transform: uppercase;

  &:hover {
    transition: 0.3s;
  }
}